.sprite-1 { background-image: url(../img/1.png); }
.sprite-2 { background-image: url(../img/2.png); }
.sprite-3 { background-image: url(../img/3.png); }
.sprite-4 { background-image: url(../img/4.png); }
.sprite-5 { background-image: url(../img/5.png); }
.sprite-6 { background-image: url(../img/6.png); }
.sprite-7 { background-image: url(../img/7.png); }
.sprite-8 { background-image: url(../img/8.png); }
.sprite-9 { background-image: url(../img/9.png); }
.sprite-10 { background-image: url(../img/10.png); }
.sprite-11 { background-image: url(../img/11.png); }
.sprite-12 { background-image: url(../img/12.png); }
.sprite-13 { background-image: url(../img/13.png); }
.sprite-14 { background-image: url(../img/14.png); }
.sprite-15 { background-image: url(../img/15.png); }
.sprite-16 { background-image: url(../img/16.png); }
.sprite-17 { background-image: url(../img/17.png); }
.sprite-18 { background-image: url(../img/18.png); }
.sprite-19 { background-image: url(../img/19.png); }
.sprite-20 { background-image: url(../img/20.png); }
.sprite-21 { background-image: url(../img/21.png); }
.sprite-22 { background-image: url(../img/22.png); }
.sprite-23 { background-image: url(../img/23.png); }
.sprite-24 { background-image: url(../img/24.png); }
.sprite-25 { background-image: url(../img/25.png); }
.sprite-26 { background-image: url(../img/26.png); }
.sprite-27 { background-image: url(../img/27.png); }
.sprite-28 { background-image: url(../img/28.png); }
.sprite-29 { background-image: url(../img/29.png); }
.sprite-30 { background-image: url(../img/30.png); }
.sprite-31 { background-image: url(../img/31.png); }
.sprite-32 { background-image: url(../img/32.png); }
.sprite-33 { background-image: url(../img/33.png); }
.sprite-34 { background-image: url(../img/34.png); }
.sprite-35 { background-image: url(../img/35.png); }
.sprite-36 { background-image: url(../img/36.png); }
.sprite-37 { background-image: url(../img/37.png); }
.sprite-38 { background-image: url(../img/38.png); }
.sprite-39 { background-image: url(../img/39.png); }
.sprite-40 { background-image: url(../img/40.png); }
.sprite-41 { background-image: url(../img/41.png); }
.sprite-42 { background-image: url(../img/42.png); }
.sprite-43 { background-image: url(../img/43.png); }
.sprite-44 { background-image: url(../img/44.png); }
.sprite-45 { background-image: url(../img/45.png); }
.sprite-46 { background-image: url(../img/46.png); }
.sprite-47 { background-image: url(../img/47.png); }
.sprite-48 { background-image: url(../img/48.png); }
.sprite-49 { background-image: url(../img/49.png); }
.sprite-50 { background-image: url(../img/50.png); }
.sprite-51 { background-image: url(../img/51.png); }
.sprite-52 { background-image: url(../img/52.png); }
.sprite-53 { background-image: url(../img/53.png); }
.sprite-54 { background-image: url(../img/54.png); }
.sprite-55 { background-image: url(../img/55.png); }
.sprite-56 { background-image: url(../img/56.png); }
.sprite-57 { background-image: url(../img/57.png); }
.sprite-58 { background-image: url(../img/58.png); }
.sprite-59 { background-image: url(../img/59.png); }
.sprite-60 { background-image: url(../img/60.png); }
.sprite-61 { background-image: url(../img/61.png); }
.sprite-62 { background-image: url(../img/62.png); }
.sprite-63 { background-image: url(../img/63.png); }
.sprite-64 { background-image: url(../img/64.png); }
.sprite-65 { background-image: url(../img/65.png); }
.sprite-66 { background-image: url(../img/66.png); }
.sprite-67 { background-image: url(../img/67.png); }
.sprite-68 { background-image: url(../img/68.png); }
.sprite-69 { background-image: url(../img/69.png); }
.sprite-70 { background-image: url(../img/70.png); }
.sprite-71 { background-image: url(../img/71.png); }
.sprite-72 { background-image: url(../img/72.png); }
.sprite-73 { background-image: url(../img/73.png); }
.sprite-74 { background-image: url(../img/74.png); }
.sprite-75 { background-image: url(../img/75.png); }
.sprite-76 { background-image: url(../img/76.png); }
.sprite-77 { background-image: url(../img/77.png); }
.sprite-78 { background-image: url(../img/78.png); }
.sprite-79 { background-image: url(../img/79.png); }
.sprite-80 { background-image: url(../img/80.png); }
.sprite-81 { background-image: url(../img/81.png); }
.sprite-82 { background-image: url(../img/82.png); }
.sprite-83 { background-image: url(../img/83.png); }
.sprite-84 { background-image: url(../img/84.png); }
.sprite-85 { background-image: url(../img/85.png); }
.sprite-86 { background-image: url(../img/86.png); }
.sprite-87 { background-image: url(../img/87.png); }
.sprite-88 { background-image: url(../img/88.png); }
.sprite-89 { background-image: url(../img/89.png); }
.sprite-90 { background-image: url(../img/90.png); }
.sprite-91 { background-image: url(../img/91.png); }
.sprite-92 { background-image: url(../img/92.png); }
.sprite-93 { background-image: url(../img/93.png); }
.sprite-94 { background-image: url(../img/94.png); }
.sprite-95 { background-image: url(../img/95.png); }
.sprite-96 { background-image: url(../img/96.png); }
.sprite-97 { background-image: url(../img/97.png); }
.sprite-98 { background-image: url(../img/98.png); }
.sprite-99 { background-image: url(../img/99.png); }
.sprite-100 { background-image: url(../img/100.png); }
.sprite-101 { background-image: url(../img/101.png); }
.sprite-102 { background-image: url(../img/102.png); }
.sprite-103 { background-image: url(../img/103.png); }
.sprite-104 { background-image: url(../img/104.png); }
.sprite-105 { background-image: url(../img/105.png); }
.sprite-106 { background-image: url(../img/106.png); }
.sprite-107 { background-image: url(../img/107.png); }
.sprite-108 { background-image: url(../img/108.png); }
.sprite-109 { background-image: url(../img/109.png); }
.sprite-110 { background-image: url(../img/110.png); }
.sprite-111 { background-image: url(../img/111.png); }
.sprite-112 { background-image: url(../img/112.png); }
.sprite-113 { background-image: url(../img/113.png); }
.sprite-114 { background-image: url(../img/114.png); }
.sprite-115 { background-image: url(../img/115.png); }
.sprite-116 { background-image: url(../img/116.png); }
.sprite-117 { background-image: url(../img/117.png); }
.sprite-118 { background-image: url(../img/118.png); }
.sprite-119 { background-image: url(../img/119.png); }
.sprite-120 { background-image: url(../img/120.png); }
.sprite-121 { background-image: url(../img/121.png); }
.sprite-122 { background-image: url(../img/122.png); }
.sprite-123 { background-image: url(../img/123.png); }
.sprite-124 { background-image: url(../img/124.png); }
.sprite-125 { background-image: url(../img/125.png); }
.sprite-126 { background-image: url(../img/126.png); }
.sprite-127 { background-image: url(../img/127.png); }
.sprite-128 { background-image: url(../img/128.png); }
.sprite-129 { background-image: url(../img/129.png); }
.sprite-130 { background-image: url(../img/130.png); }
.sprite-131 { background-image: url(../img/131.png); }
.sprite-132 { background-image: url(../img/132.png); }
.sprite-133 { background-image: url(../img/133.png); }
.sprite-134 { background-image: url(../img/134.png); }
.sprite-135 { background-image: url(../img/135.png); }
.sprite-136 { background-image: url(../img/136.png); }
.sprite-137 { background-image: url(../img/137.png); }
.sprite-138 { background-image: url(../img/138.png); }
.sprite-139 { background-image: url(../img/139.png); }
.sprite-140 { background-image: url(../img/140.png); }
.sprite-141 { background-image: url(../img/141.png); }
.sprite-142 { background-image: url(../img/142.png); }
.sprite-143 { background-image: url(../img/143.png); }
.sprite-144 { background-image: url(../img/144.png); }
.sprite-145 { background-image: url(../img/145.png); }
.sprite-146 { background-image: url(../img/146.png); }
.sprite-147 { background-image: url(../img/147.png); }
.sprite-148 { background-image: url(../img/148.png); }
.sprite-149 { background-image: url(../img/149.png); }
.sprite-150 { background-image: url(../img/150.png); }
.sprite-151 { background-image: url(../img/151.png); }
.sprite-152 { background-image: url(../img/152.png); }
.sprite-153 { background-image: url(../img/153.png); }
.sprite-154 { background-image: url(../img/154.png); }
.sprite-155 { background-image: url(../img/155.png); }
.sprite-156 { background-image: url(../img/156.png); }
.sprite-157 { background-image: url(../img/157.png); }
.sprite-158 { background-image: url(../img/158.png); }
.sprite-159 { background-image: url(../img/159.png); }
.sprite-160 { background-image: url(../img/160.png); }
.sprite-161 { background-image: url(../img/161.png); }
.sprite-162 { background-image: url(../img/162.png); }
.sprite-163 { background-image: url(../img/163.png); }
.sprite-164 { background-image: url(../img/164.png); }
.sprite-165 { background-image: url(../img/165.png); }
.sprite-166 { background-image: url(../img/166.png); }
.sprite-167 { background-image: url(../img/167.png); }
.sprite-168 { background-image: url(../img/168.png); }
.sprite-169 { background-image: url(../img/169.png); }
.sprite-170 { background-image: url(../img/170.png); }
.sprite-171 { background-image: url(../img/171.png); }
.sprite-172 { background-image: url(../img/172.png); }
.sprite-173 { background-image: url(../img/173.png); }
.sprite-174 { background-image: url(../img/174.png); }
.sprite-175 { background-image: url(../img/175.png); }
.sprite-176 { background-image: url(../img/176.png); }
.sprite-177 { background-image: url(../img/177.png); }
.sprite-178 { background-image: url(../img/178.png); }
.sprite-179 { background-image: url(../img/179.png); }
.sprite-180 { background-image: url(../img/180.png); }
.sprite-181 { background-image: url(../img/181.png); }
.sprite-182 { background-image: url(../img/182.png); }
.sprite-183 { background-image: url(../img/183.png); }
.sprite-184 { background-image: url(../img/184.png); }
.sprite-185 { background-image: url(../img/185.png); }
.sprite-186 { background-image: url(../img/186.png); }
.sprite-187 { background-image: url(../img/187.png); }
.sprite-188 { background-image: url(../img/188.png); }
.sprite-189 { background-image: url(../img/189.png); }
.sprite-190 { background-image: url(../img/190.png); }
.sprite-191 { background-image: url(../img/191.png); }
.sprite-192 { background-image: url(../img/192.png); }
.sprite-193 { background-image: url(../img/193.png); }
.sprite-194 { background-image: url(../img/194.png); }
.sprite-195 { background-image: url(../img/195.png); }
.sprite-196 { background-image: url(../img/196.png); }
.sprite-197 { background-image: url(../img/197.png); }
.sprite-198 { background-image: url(../img/198.png); }
.sprite-199 { background-image: url(../img/199.png); }
.sprite-200 { background-image: url(../img/200.png); }
.sprite-201 { background-image: url(../img/201.png); }
.sprite-202 { background-image: url(../img/202.png); }
.sprite-203 { background-image: url(../img/203.png); }
.sprite-204 { background-image: url(../img/204.png); }
.sprite-205 { background-image: url(../img/205.png); }
.sprite-206 { background-image: url(../img/206.png); }
.sprite-207 { background-image: url(../img/207.png); }
.sprite-208 { background-image: url(../img/208.png); }
.sprite-209 { background-image: url(../img/209.png); }
.sprite-210 { background-image: url(../img/210.png); }
.sprite-211 { background-image: url(../img/211.png); }
.sprite-212 { background-image: url(../img/212.png); }
.sprite-213 { background-image: url(../img/213.png); }
.sprite-214 { background-image: url(../img/214.png); }
.sprite-215 { background-image: url(../img/215.png); }
.sprite-216 { background-image: url(../img/216.png); }
.sprite-217 { background-image: url(../img/217.png); }
.sprite-218 { background-image: url(../img/218.png); }
.sprite-219 { background-image: url(../img/219.png); }
.sprite-220 { background-image: url(../img/220.png); }
.sprite-221 { background-image: url(../img/221.png); }
.sprite-222 { background-image: url(../img/222.png); }
.sprite-223 { background-image: url(../img/223.png); }
.sprite-224 { background-image: url(../img/224.png); }
.sprite-225 { background-image: url(../img/225.png); }
.sprite-226 { background-image: url(../img/226.png); }
.sprite-227 { background-image: url(../img/227.png); }
.sprite-228 { background-image: url(../img/228.png); }
.sprite-229 { background-image: url(../img/229.png); }
.sprite-230 { background-image: url(../img/230.png); }
.sprite-231 { background-image: url(../img/231.png); }
.sprite-232 { background-image: url(../img/232.png); }
.sprite-233 { background-image: url(../img/233.png); }
.sprite-234 { background-image: url(../img/234.png); }
.sprite-235 { background-image: url(../img/235.png); }
.sprite-236 { background-image: url(../img/236.png); }
.sprite-237 { background-image: url(../img/237.png); }
.sprite-238 { background-image: url(../img/238.png); }
.sprite-239 { background-image: url(../img/239.png); }
.sprite-240 { background-image: url(../img/240.png); }
.sprite-241 { background-image: url(../img/241.png); }
.sprite-242 { background-image: url(../img/242.png); }
.sprite-243 { background-image: url(../img/243.png); }
.sprite-244 { background-image: url(../img/244.png); }
.sprite-245 { background-image: url(../img/245.png); }
.sprite-246 { background-image: url(../img/246.png); }
.sprite-247 { background-image: url(../img/247.png); }
.sprite-248 { background-image: url(../img/248.png); }
.sprite-249 { background-image: url(../img/249.png); }
.sprite-250 { background-image: url(../img/250.png); }
.sprite-251 { background-image: url(../img/251.png); }
.sprite-252 { background-image: url(../img/252.png); }
.sprite-253 { background-image: url(../img/253.png); }
.sprite-254 { background-image: url(../img/254.png); }
.sprite-255 { background-image: url(../img/255.png); }
.sprite-256 { background-image: url(../img/256.png); }
.sprite-257 { background-image: url(../img/257.png); }
.sprite-258 { background-image: url(../img/258.png); }
.sprite-259 { background-image: url(../img/259.png); }
.sprite-260 { background-image: url(../img/260.png); }
.sprite-261 { background-image: url(../img/261.png); }
.sprite-262 { background-image: url(../img/262.png); }
.sprite-263 { background-image: url(../img/263.png); }
.sprite-264 { background-image: url(../img/264.png); }
.sprite-265 { background-image: url(../img/265.png); }
.sprite-266 { background-image: url(../img/266.png); }
.sprite-267 { background-image: url(../img/267.png); }
.sprite-268 { background-image: url(../img/268.png); }
.sprite-269 { background-image: url(../img/269.png); }
.sprite-270 { background-image: url(../img/270.png); }
.sprite-271 { background-image: url(../img/271.png); }
.sprite-272 { background-image: url(../img/272.png); }
.sprite-273 { background-image: url(../img/273.png); }
.sprite-274 { background-image: url(../img/274.png); }
.sprite-275 { background-image: url(../img/275.png); }
.sprite-276 { background-image: url(../img/276.png); }
.sprite-277 { background-image: url(../img/277.png); }
.sprite-278 { background-image: url(../img/278.png); }
.sprite-279 { background-image: url(../img/279.png); }
.sprite-280 { background-image: url(../img/280.png); }
.sprite-281 { background-image: url(../img/281.png); }
.sprite-282 { background-image: url(../img/282.png); }
.sprite-283 { background-image: url(../img/283.png); }
.sprite-284 { background-image: url(../img/284.png); }
.sprite-285 { background-image: url(../img/285.png); }
.sprite-286 { background-image: url(../img/286.png); }
.sprite-287 { background-image: url(../img/287.png); }
.sprite-288 { background-image: url(../img/288.png); }
.sprite-289 { background-image: url(../img/289.png); }
.sprite-290 { background-image: url(../img/290.png); }
.sprite-291 { background-image: url(../img/291.png); }
.sprite-292 { background-image: url(../img/292.png); }
.sprite-293 { background-image: url(../img/293.png); }
.sprite-294 { background-image: url(../img/294.png); }
.sprite-295 { background-image: url(../img/295.png); }
.sprite-296 { background-image: url(../img/296.png); }
.sprite-297 { background-image: url(../img/297.png); }
.sprite-298 { background-image: url(../img/298.png); }
.sprite-299 { background-image: url(../img/299.png); }
.sprite-300 { background-image: url(../img/300.png); }
.sprite-301 { background-image: url(../img/301.png); }
.sprite-302 { background-image: url(../img/302.png); }
.sprite-303 { background-image: url(../img/303.png); }
.sprite-304 { background-image: url(../img/304.png); }
.sprite-305 { background-image: url(../img/305.png); }
.sprite-306 { background-image: url(../img/306.png); }
.sprite-307 { background-image: url(../img/307.png); }
.sprite-308 { background-image: url(../img/308.png); }
.sprite-309 { background-image: url(../img/309.png); }
.sprite-310 { background-image: url(../img/310.png); }
.sprite-311 { background-image: url(../img/311.png); }
.sprite-312 { background-image: url(../img/312.png); }
.sprite-313 { background-image: url(../img/313.png); }
.sprite-314 { background-image: url(../img/314.png); }
.sprite-315 { background-image: url(../img/315.png); }
.sprite-316 { background-image: url(../img/316.png); }
.sprite-317 { background-image: url(../img/317.png); }
.sprite-318 { background-image: url(../img/318.png); }
.sprite-319 { background-image: url(../img/319.png); }
.sprite-320 { background-image: url(../img/320.png); }
.sprite-321 { background-image: url(../img/321.png); }
.sprite-322 { background-image: url(../img/322.png); }
.sprite-323 { background-image: url(../img/323.png); }
.sprite-324 { background-image: url(../img/324.png); }
.sprite-325 { background-image: url(../img/325.png); }
.sprite-326 { background-image: url(../img/326.png); }
.sprite-327 { background-image: url(../img/327.png); }
.sprite-328 { background-image: url(../img/328.png); }
.sprite-329 { background-image: url(../img/329.png); }
.sprite-330 { background-image: url(../img/330.png); }
.sprite-331 { background-image: url(../img/331.png); }
.sprite-332 { background-image: url(../img/332.png); }
.sprite-333 { background-image: url(../img/333.png); }
.sprite-334 { background-image: url(../img/334.png); }
.sprite-335 { background-image: url(../img/335.png); }
.sprite-336 { background-image: url(../img/336.png); }
.sprite-337 { background-image: url(../img/337.png); }
.sprite-338 { background-image: url(../img/338.png); }
.sprite-339 { background-image: url(../img/339.png); }
.sprite-340 { background-image: url(../img/340.png); }
.sprite-341 { background-image: url(../img/341.png); }
.sprite-342 { background-image: url(../img/342.png); }
.sprite-343 { background-image: url(../img/343.png); }
.sprite-344 { background-image: url(../img/344.png); }
.sprite-345 { background-image: url(../img/345.png); }
.sprite-346 { background-image: url(../img/346.png); }
.sprite-347 { background-image: url(../img/347.png); }
.sprite-348 { background-image: url(../img/348.png); }
.sprite-349 { background-image: url(../img/349.png); }
.sprite-350 { background-image: url(../img/350.png); }
.sprite-351 { background-image: url(../img/351.png); }
.sprite-352 { background-image: url(../img/352.png); }
.sprite-353 { background-image: url(../img/353.png); }
.sprite-354 { background-image: url(../img/354.png); }
.sprite-355 { background-image: url(../img/355.png); }
.sprite-356 { background-image: url(../img/356.png); }
.sprite-357 { background-image: url(../img/357.png); }
.sprite-358 { background-image: url(../img/358.png); }
.sprite-359 { background-image: url(../img/359.png); }
.sprite-360 { background-image: url(../img/360.png); }
.sprite-361 { background-image: url(../img/361.png); }
.sprite-362 { background-image: url(../img/362.png); }
.sprite-363 { background-image: url(../img/363.png); }
.sprite-364 { background-image: url(../img/364.png); }
.sprite-365 { background-image: url(../img/365.png); }
.sprite-366 { background-image: url(../img/366.png); }
.sprite-367 { background-image: url(../img/367.png); }
.sprite-368 { background-image: url(../img/368.png); }
.sprite-369 { background-image: url(../img/369.png); }
.sprite-370 { background-image: url(../img/370.png); }
.sprite-371 { background-image: url(../img/371.png); }
.sprite-372 { background-image: url(../img/372.png); }
.sprite-373 { background-image: url(../img/373.png); }
.sprite-374 { background-image: url(../img/374.png); }
.sprite-375 { background-image: url(../img/375.png); }
.sprite-376 { background-image: url(../img/376.png); }
.sprite-377 { background-image: url(../img/377.png); }
.sprite-378 { background-image: url(../img/378.png); }
.sprite-379 { background-image: url(../img/379.png); }
.sprite-380 { background-image: url(../img/380.png); }
.sprite-381 { background-image: url(../img/381.png); }
.sprite-382 { background-image: url(../img/382.png); }
.sprite-383 { background-image: url(../img/383.png); }
.sprite-384 { background-image: url(../img/384.png); }
.sprite-385 { background-image: url(../img/385.png); }
.sprite-386 { background-image: url(../img/386.png); }
.sprite-387 { background-image: url(../img/387.png); }
.sprite-388 { background-image: url(../img/388.png); }
.sprite-389 { background-image: url(../img/389.png); }
.sprite-390 { background-image: url(../img/390.png); }
.sprite-391 { background-image: url(../img/391.png); }
.sprite-392 { background-image: url(../img/392.png); }
.sprite-393 { background-image: url(../img/393.png); }
.sprite-394 { background-image: url(../img/394.png); }
.sprite-395 { background-image: url(../img/395.png); }
.sprite-396 { background-image: url(../img/396.png); }
.sprite-397 { background-image: url(../img/397.png); }
.sprite-398 { background-image: url(../img/398.png); }
.sprite-399 { background-image: url(../img/399.png); }
.sprite-400 { background-image: url(../img/400.png); }
.sprite-401 { background-image: url(../img/401.png); }
.sprite-402 { background-image: url(../img/402.png); }
.sprite-403 { background-image: url(../img/403.png); }
.sprite-404 { background-image: url(../img/404.png); }
.sprite-405 { background-image: url(../img/405.png); }
.sprite-406 { background-image: url(../img/406.png); }
.sprite-407 { background-image: url(../img/407.png); }
.sprite-408 { background-image: url(../img/408.png); }
.sprite-409 { background-image: url(../img/409.png); }
.sprite-410 { background-image: url(../img/410.png); }
.sprite-411 { background-image: url(../img/411.png); }
.sprite-412 { background-image: url(../img/412.png); }
.sprite-413 { background-image: url(../img/413.png); }
.sprite-414 { background-image: url(../img/414.png); }
.sprite-415 { background-image: url(../img/415.png); }
.sprite-416 { background-image: url(../img/416.png); }
.sprite-417 { background-image: url(../img/417.png); }
.sprite-418 { background-image: url(../img/418.png); }
.sprite-419 { background-image: url(../img/419.png); }
.sprite-420 { background-image: url(../img/420.png); }
.sprite-421 { background-image: url(../img/421.png); }
.sprite-422 { background-image: url(../img/422.png); }
.sprite-423 { background-image: url(../img/423.png); }
.sprite-424 { background-image: url(../img/424.png); }
.sprite-425 { background-image: url(../img/425.png); }
.sprite-426 { background-image: url(../img/426.png); }
.sprite-427 { background-image: url(../img/427.png); }
.sprite-428 { background-image: url(../img/428.png); }
.sprite-429 { background-image: url(../img/429.png); }
.sprite-430 { background-image: url(../img/430.png); }
.sprite-431 { background-image: url(../img/431.png); }
.sprite-432 { background-image: url(../img/432.png); }
.sprite-433 { background-image: url(../img/433.png); }
.sprite-434 { background-image: url(../img/434.png); }
.sprite-435 { background-image: url(../img/435.png); }
.sprite-436 { background-image: url(../img/436.png); }
.sprite-437 { background-image: url(../img/437.png); }
.sprite-438 { background-image: url(../img/438.png); }
.sprite-439 { background-image: url(../img/439.png); }
.sprite-440 { background-image: url(../img/440.png); }
.sprite-441 { background-image: url(../img/441.png); }
.sprite-442 { background-image: url(../img/442.png); }
.sprite-443 { background-image: url(../img/443.png); }
.sprite-444 { background-image: url(../img/444.png); }
.sprite-445 { background-image: url(../img/445.png); }
.sprite-446 { background-image: url(../img/446.png); }
.sprite-447 { background-image: url(../img/447.png); }
.sprite-448 { background-image: url(../img/448.png); }
.sprite-449 { background-image: url(../img/449.png); }
.sprite-450 { background-image: url(../img/450.png); }
.sprite-451 { background-image: url(../img/451.png); }
.sprite-452 { background-image: url(../img/452.png); }
.sprite-453 { background-image: url(../img/453.png); }
.sprite-454 { background-image: url(../img/454.png); }
.sprite-455 { background-image: url(../img/455.png); }
.sprite-456 { background-image: url(../img/456.png); }
.sprite-457 { background-image: url(../img/457.png); }
.sprite-458 { background-image: url(../img/458.png); }
.sprite-459 { background-image: url(../img/459.png); }
.sprite-460 { background-image: url(../img/460.png); }
.sprite-461 { background-image: url(../img/461.png); }
.sprite-462 { background-image: url(../img/462.png); }
.sprite-463 { background-image: url(../img/463.png); }
.sprite-464 { background-image: url(../img/464.png); }
.sprite-465 { background-image: url(../img/465.png); }
.sprite-466 { background-image: url(../img/466.png); }
.sprite-467 { background-image: url(../img/467.png); }
.sprite-468 { background-image: url(../img/468.png); }
.sprite-469 { background-image: url(../img/469.png); }
.sprite-470 { background-image: url(../img/470.png); }
.sprite-471 { background-image: url(../img/471.png); }
.sprite-472 { background-image: url(../img/472.png); }
.sprite-473 { background-image: url(../img/473.png); }
.sprite-474 { background-image: url(../img/474.png); }
.sprite-475 { background-image: url(../img/475.png); }
.sprite-476 { background-image: url(../img/476.png); }
.sprite-477 { background-image: url(../img/477.png); }
.sprite-478 { background-image: url(../img/478.png); }
.sprite-479 { background-image: url(../img/479.png); }
.sprite-480 { background-image: url(../img/480.png); }
.sprite-481 { background-image: url(../img/481.png); }
.sprite-482 { background-image: url(../img/482.png); }
.sprite-483 { background-image: url(../img/483.png); }
.sprite-484 { background-image: url(../img/484.png); }
.sprite-485 { background-image: url(../img/485.png); }
.sprite-486 { background-image: url(../img/486.png); }
.sprite-487 { background-image: url(../img/487.png); }
.sprite-488 { background-image: url(../img/488.png); }
.sprite-489 { background-image: url(../img/489.png); }
.sprite-490 { background-image: url(../img/490.png); }
.sprite-491 { background-image: url(../img/491.png); }
.sprite-492 { background-image: url(../img/492.png); }
.sprite-493 { background-image: url(../img/493.png); }
.sprite-494 { background-image: url(../img/494.png); }
.sprite-495 { background-image: url(../img/495.png); }
.sprite-496 { background-image: url(../img/496.png); }
.sprite-497 { background-image: url(../img/497.png); }
.sprite-498 { background-image: url(../img/498.png); }
.sprite-499 { background-image: url(../img/499.png); }
.sprite-500 { background-image: url(../img/500.png); }
.sprite-501 { background-image: url(../img/501.png); }
.sprite-502 { background-image: url(../img/502.png); }
.sprite-503 { background-image: url(../img/503.png); }
.sprite-504 { background-image: url(../img/504.png); }
.sprite-505 { background-image: url(../img/505.png); }
.sprite-506 { background-image: url(../img/506.png); }
.sprite-507 { background-image: url(../img/507.png); }
.sprite-508 { background-image: url(../img/508.png); }
.sprite-509 { background-image: url(../img/509.png); }
.sprite-510 { background-image: url(../img/510.png); }
.sprite-511 { background-image: url(../img/511.png); }
.sprite-512 { background-image: url(../img/512.png); }
.sprite-513 { background-image: url(../img/513.png); }
.sprite-514 { background-image: url(../img/514.png); }
.sprite-515 { background-image: url(../img/515.png); }
.sprite-516 { background-image: url(../img/516.png); }
.sprite-517 { background-image: url(../img/517.png); }
.sprite-518 { background-image: url(../img/518.png); }
.sprite-519 { background-image: url(../img/519.png); }
.sprite-520 { background-image: url(../img/520.png); }
.sprite-521 { background-image: url(../img/521.png); }
.sprite-522 { background-image: url(../img/522.png); }
.sprite-523 { background-image: url(../img/523.png); }
.sprite-524 { background-image: url(../img/524.png); }
.sprite-525 { background-image: url(../img/525.png); }
.sprite-526 { background-image: url(../img/526.png); }
.sprite-527 { background-image: url(../img/527.png); }
.sprite-528 { background-image: url(../img/528.png); }
.sprite-529 { background-image: url(../img/529.png); }
.sprite-530 { background-image: url(../img/530.png); }
.sprite-531 { background-image: url(../img/531.png); }
.sprite-532 { background-image: url(../img/532.png); }
.sprite-533 { background-image: url(../img/533.png); }
.sprite-534 { background-image: url(../img/534.png); }
.sprite-535 { background-image: url(../img/535.png); }
.sprite-536 { background-image: url(../img/536.png); }
.sprite-537 { background-image: url(../img/537.png); }
.sprite-538 { background-image: url(../img/538.png); }
.sprite-539 { background-image: url(../img/539.png); }
.sprite-540 { background-image: url(../img/540.png); }
.sprite-541 { background-image: url(../img/541.png); }
.sprite-542 { background-image: url(../img/542.png); }
.sprite-543 { background-image: url(../img/543.png); }
.sprite-544 { background-image: url(../img/544.png); }
.sprite-545 { background-image: url(../img/545.png); }
.sprite-546 { background-image: url(../img/546.png); }
.sprite-547 { background-image: url(../img/547.png); }
.sprite-548 { background-image: url(../img/548.png); }
.sprite-549 { background-image: url(../img/549.png); }
.sprite-550 { background-image: url(../img/550.png); }
.sprite-551 { background-image: url(../img/551.png); }
.sprite-552 { background-image: url(../img/552.png); }
.sprite-553 { background-image: url(../img/553.png); }
.sprite-554 { background-image: url(../img/554.png); }
.sprite-555 { background-image: url(../img/555.png); }
.sprite-556 { background-image: url(../img/556.png); }
.sprite-557 { background-image: url(../img/557.png); }
.sprite-558 { background-image: url(../img/558.png); }
.sprite-559 { background-image: url(../img/559.png); }
.sprite-560 { background-image: url(../img/560.png); }
.sprite-561 { background-image: url(../img/561.png); }
.sprite-562 { background-image: url(../img/562.png); }
.sprite-563 { background-image: url(../img/563.png); }
.sprite-564 { background-image: url(../img/564.png); }
.sprite-565 { background-image: url(../img/565.png); }
.sprite-566 { background-image: url(../img/566.png); }
.sprite-567 { background-image: url(../img/567.png); }
.sprite-568 { background-image: url(../img/568.png); }
.sprite-569 { background-image: url(../img/569.png); }
.sprite-570 { background-image: url(../img/570.png); }
.sprite-571 { background-image: url(../img/571.png); }
.sprite-572 { background-image: url(../img/572.png); }
.sprite-573 { background-image: url(../img/573.png); }
.sprite-574 { background-image: url(../img/574.png); }
.sprite-575 { background-image: url(../img/575.png); }
.sprite-576 { background-image: url(../img/576.png); }
.sprite-577 { background-image: url(../img/577.png); }
.sprite-578 { background-image: url(../img/578.png); }
.sprite-579 { background-image: url(../img/579.png); }
.sprite-580 { background-image: url(../img/580.png); }
.sprite-581 { background-image: url(../img/581.png); }
.sprite-582 { background-image: url(../img/582.png); }
.sprite-583 { background-image: url(../img/583.png); }
.sprite-584 { background-image: url(../img/584.png); }
.sprite-585 { background-image: url(../img/585.png); }
.sprite-586 { background-image: url(../img/586.png); }
.sprite-587 { background-image: url(../img/587.png); }
.sprite-588 { background-image: url(../img/588.png); }
.sprite-589 { background-image: url(../img/589.png); }
.sprite-590 { background-image: url(../img/590.png); }
.sprite-591 { background-image: url(../img/591.png); }
.sprite-592 { background-image: url(../img/592.png); }
.sprite-593 { background-image: url(../img/593.png); }
.sprite-594 { background-image: url(../img/594.png); }
.sprite-595 { background-image: url(../img/595.png); }
.sprite-596 { background-image: url(../img/596.png); }
.sprite-597 { background-image: url(../img/597.png); }
.sprite-598 { background-image: url(../img/598.png); }
.sprite-599 { background-image: url(../img/599.png); }
.sprite-600 { background-image: url(../img/600.png); }
.sprite-601 { background-image: url(../img/601.png); }
.sprite-602 { background-image: url(../img/602.png); }
.sprite-603 { background-image: url(../img/603.png); }
.sprite-604 { background-image: url(../img/604.png); }
.sprite-605 { background-image: url(../img/605.png); }
.sprite-606 { background-image: url(../img/606.png); }
.sprite-607 { background-image: url(../img/607.png); }
.sprite-608 { background-image: url(../img/608.png); }
.sprite-609 { background-image: url(../img/609.png); }
.sprite-610 { background-image: url(../img/610.png); }
.sprite-611 { background-image: url(../img/611.png); }
.sprite-612 { background-image: url(../img/612.png); }
.sprite-613 { background-image: url(../img/613.png); }
.sprite-614 { background-image: url(../img/614.png); }
.sprite-615 { background-image: url(../img/615.png); }
.sprite-616 { background-image: url(../img/616.png); }
.sprite-617 { background-image: url(../img/617.png); }
.sprite-618 { background-image: url(../img/618.png); }
.sprite-619 { background-image: url(../img/619.png); }
.sprite-620 { background-image: url(../img/620.png); }
.sprite-621 { background-image: url(../img/621.png); }
.sprite-622 { background-image: url(../img/622.png); }
.sprite-623 { background-image: url(../img/623.png); }
.sprite-624 { background-image: url(../img/624.png); }
.sprite-625 { background-image: url(../img/625.png); }
.sprite-626 { background-image: url(../img/626.png); }
.sprite-627 { background-image: url(../img/627.png); }
.sprite-628 { background-image: url(../img/628.png); }
.sprite-629 { background-image: url(../img/629.png); }
.sprite-630 { background-image: url(../img/630.png); }
.sprite-631 { background-image: url(../img/631.png); }
.sprite-632 { background-image: url(../img/632.png); }
.sprite-633 { background-image: url(../img/633.png); }
.sprite-634 { background-image: url(../img/634.png); }
.sprite-635 { background-image: url(../img/635.png); }
.sprite-636 { background-image: url(../img/636.png); }
.sprite-637 { background-image: url(../img/637.png); }
.sprite-638 { background-image: url(../img/638.png); }
.sprite-639 { background-image: url(../img/639.png); }
.sprite-640 { background-image: url(../img/640.png); }
.sprite-641 { background-image: url(../img/641.png); }
.sprite-642 { background-image: url(../img/642.png); }
.sprite-643 { background-image: url(../img/643.png); }
.sprite-644 { background-image: url(../img/644.png); }
.sprite-645 { background-image: url(../img/645.png); }
.sprite-646 { background-image: url(../img/646.png); }
.sprite-647 { background-image: url(../img/647.png); }
.sprite-648 { background-image: url(../img/648.png); }
.sprite-649 { background-image: url(../img/649.png); }