.sprite-1 {background-image: url('../img/sprites-png/1.png');}
.sprite-2 {background-image: url('../img/sprites-png/2.png');}
.sprite-3 {background-image: url('../img/sprites-png/3.png');}
.sprite-4 {background-image: url('../img/sprites-png/4.png');}
.sprite-5 {background-image: url('../img/sprites-png/5.png');}
.sprite-6 {background-image: url('../img/sprites-png/6.png');}
.sprite-7 {background-image: url('../img/sprites-png/7.png');}
.sprite-8 {background-image: url('../img/sprites-png/8.png');}
.sprite-9 {background-image: url('../img/sprites-png/9.png');}
.sprite-10 {background-image: url('../img/sprites-png/10.png');}
.sprite-11 {background-image: url('../img/sprites-png/11.png');}
.sprite-12 {background-image: url('../img/sprites-png/12.png');}
.sprite-13 {background-image: url('../img/sprites-png/13.png');}
.sprite-14 {background-image: url('../img/sprites-png/14.png');}
.sprite-15 {background-image: url('../img/sprites-png/15.png');}
.sprite-16 {background-image: url('../img/sprites-png/16.png');}
.sprite-17 {background-image: url('../img/sprites-png/17.png');}
.sprite-18 {background-image: url('../img/sprites-png/18.png');}
.sprite-19 {background-image: url('../img/sprites-png/19.png');}
.sprite-20 {background-image: url('../img/sprites-png/20.png');}
.sprite-21 {background-image: url('../img/sprites-png/21.png');}
.sprite-22 {background-image: url('../img/sprites-png/22.png');}
.sprite-23 {background-image: url('../img/sprites-png/23.png');}
.sprite-24 {background-image: url('../img/sprites-png/24.png');}
.sprite-25 {background-image: url('../img/sprites-png/25.png');}
.sprite-26 {background-image: url('../img/sprites-png/26.png');}
.sprite-27 {background-image: url('../img/sprites-png/27.png');}
.sprite-28 {background-image: url('../img/sprites-png/28.png');}
.sprite-29 {background-image: url('../img/sprites-png/29.png');}
.sprite-30 {background-image: url('../img/sprites-png/30.png');}
.sprite-31 {background-image: url('../img/sprites-png/31.png');}
.sprite-32 {background-image: url('../img/sprites-png/32.png');}
.sprite-33 {background-image: url('../img/sprites-png/33.png');}
.sprite-34 {background-image: url('../img/sprites-png/34.png');}
.sprite-35 {background-image: url('../img/sprites-png/35.png');}
.sprite-36 {background-image: url('../img/sprites-png/36.png');}
.sprite-37 {background-image: url('../img/sprites-png/37.png');}
.sprite-38 {background-image: url('../img/sprites-png/38.png');}
.sprite-39 {background-image: url('../img/sprites-png/39.png');}
.sprite-40 {background-image: url('../img/sprites-png/40.png');}
.sprite-41 {background-image: url('../img/sprites-png/41.png');}
.sprite-42 {background-image: url('../img/sprites-png/42.png');}
.sprite-43 {background-image: url('../img/sprites-png/43.png');}
.sprite-44 {background-image: url('../img/sprites-png/44.png');}
.sprite-45 {background-image: url('../img/sprites-png/45.png');}
.sprite-46 {background-image: url('../img/sprites-png/46.png');}
.sprite-47 {background-image: url('../img/sprites-png/47.png');}
.sprite-48 {background-image: url('../img/sprites-png/48.png');}
.sprite-49 {background-image: url('../img/sprites-png/49.png');}
.sprite-50 {background-image: url('../img/sprites-png/50.png');}
.sprite-51 {background-image: url('../img/sprites-png/51.png');}
.sprite-52 {background-image: url('../img/sprites-png/52.png');}
.sprite-53 {background-image: url('../img/sprites-png/53.png');}
.sprite-54 {background-image: url('../img/sprites-png/54.png');}
.sprite-55 {background-image: url('../img/sprites-png/55.png');}
.sprite-56 {background-image: url('../img/sprites-png/56.png');}
.sprite-57 {background-image: url('../img/sprites-png/57.png');}
.sprite-58 {background-image: url('../img/sprites-png/58.png');}
.sprite-59 {background-image: url('../img/sprites-png/59.png');}
.sprite-60 {background-image: url('../img/sprites-png/60.png');}
.sprite-61 {background-image: url('../img/sprites-png/61.png');}
.sprite-62 {background-image: url('../img/sprites-png/62.png');}
.sprite-63 {background-image: url('../img/sprites-png/63.png');}
.sprite-64 {background-image: url('../img/sprites-png/64.png');}
.sprite-65 {background-image: url('../img/sprites-png/65.png');}
.sprite-66 {background-image: url('../img/sprites-png/66.png');}
.sprite-67 {background-image: url('../img/sprites-png/67.png');}
.sprite-68 {background-image: url('../img/sprites-png/68.png');}
.sprite-69 {background-image: url('../img/sprites-png/69.png');}
.sprite-70 {background-image: url('../img/sprites-png/70.png');}
.sprite-71 {background-image: url('../img/sprites-png/71.png');}
.sprite-72 {background-image: url('../img/sprites-png/72.png');}
.sprite-73 {background-image: url('../img/sprites-png/73.png');}
.sprite-74 {background-image: url('../img/sprites-png/74.png');}
.sprite-75 {background-image: url('../img/sprites-png/75.png');}
.sprite-76 {background-image: url('../img/sprites-png/76.png');}
.sprite-77 {background-image: url('../img/sprites-png/77.png');}
.sprite-78 {background-image: url('../img/sprites-png/78.png');}
.sprite-79 {background-image: url('../img/sprites-png/79.png');}
.sprite-80 {background-image: url('../img/sprites-png/80.png');}
.sprite-81 {background-image: url('../img/sprites-png/81.png');}
.sprite-82 {background-image: url('../img/sprites-png/82.png');}
.sprite-83 {background-image: url('../img/sprites-png/83.png');}
.sprite-84 {background-image: url('../img/sprites-png/84.png');}
.sprite-85 {background-image: url('../img/sprites-png/85.png');}
.sprite-86 {background-image: url('../img/sprites-png/86.png');}
.sprite-87 {background-image: url('../img/sprites-png/87.png');}
.sprite-88 {background-image: url('../img/sprites-png/88.png');}
.sprite-89 {background-image: url('../img/sprites-png/89.png');}
.sprite-90 {background-image: url('../img/sprites-png/90.png');}
.sprite-91 {background-image: url('../img/sprites-png/91.png');}
.sprite-92 {background-image: url('../img/sprites-png/92.png');}
.sprite-93 {background-image: url('../img/sprites-png/93.png');}
.sprite-94 {background-image: url('../img/sprites-png/94.png');}
.sprite-95 {background-image: url('../img/sprites-png/95.png');}
.sprite-96 {background-image: url('../img/sprites-png/96.png');}
.sprite-97 {background-image: url('../img/sprites-png/97.png');}
.sprite-98 {background-image: url('../img/sprites-png/98.png');}
.sprite-99 {background-image: url('../img/sprites-png/99.png');}
.sprite-100 {background-image: url('../img/sprites-png/100.png');}
.sprite-101 {background-image: url('../img/sprites-png/101.png');}
.sprite-102 {background-image: url('../img/sprites-png/102.png');}
.sprite-103 {background-image: url('../img/sprites-png/103.png');}
.sprite-104 {background-image: url('../img/sprites-png/104.png');}
.sprite-105 {background-image: url('../img/sprites-png/105.png');}
.sprite-106 {background-image: url('../img/sprites-png/106.png');}
.sprite-107 {background-image: url('../img/sprites-png/107.png');}
.sprite-108 {background-image: url('../img/sprites-png/108.png');}
.sprite-109 {background-image: url('../img/sprites-png/109.png');}
.sprite-110 {background-image: url('../img/sprites-png/110.png');}
.sprite-111 {background-image: url('../img/sprites-png/111.png');}
.sprite-112 {background-image: url('../img/sprites-png/112.png');}
.sprite-113 {background-image: url('../img/sprites-png/113.png');}
.sprite-114 {background-image: url('../img/sprites-png/114.png');}
.sprite-115 {background-image: url('../img/sprites-png/115.png');}
.sprite-116 {background-image: url('../img/sprites-png/116.png');}
.sprite-117 {background-image: url('../img/sprites-png/117.png');}
.sprite-118 {background-image: url('../img/sprites-png/118.png');}
.sprite-119 {background-image: url('../img/sprites-png/119.png');}
.sprite-120 {background-image: url('../img/sprites-png/120.png');}
.sprite-121 {background-image: url('../img/sprites-png/121.png');}
.sprite-122 {background-image: url('../img/sprites-png/122.png');}
.sprite-123 {background-image: url('../img/sprites-png/123.png');}
.sprite-124 {background-image: url('../img/sprites-png/124.png');}
.sprite-125 {background-image: url('../img/sprites-png/125.png');}
.sprite-126 {background-image: url('../img/sprites-png/126.png');}
.sprite-127 {background-image: url('../img/sprites-png/127.png');}
.sprite-128 {background-image: url('../img/sprites-png/128.png');}
.sprite-129 {background-image: url('../img/sprites-png/129.png');}
.sprite-130 {background-image: url('../img/sprites-png/130.png');}
.sprite-131 {background-image: url('../img/sprites-png/131.png');}
.sprite-132 {background-image: url('../img/sprites-png/132.png');}
.sprite-133 {background-image: url('../img/sprites-png/133.png');}
.sprite-134 {background-image: url('../img/sprites-png/134.png');}
.sprite-135 {background-image: url('../img/sprites-png/135.png');}
.sprite-136 {background-image: url('../img/sprites-png/136.png');}
.sprite-137 {background-image: url('../img/sprites-png/137.png');}
.sprite-138 {background-image: url('../img/sprites-png/138.png');}
.sprite-139 {background-image: url('../img/sprites-png/139.png');}
.sprite-140 {background-image: url('../img/sprites-png/140.png');}
.sprite-141 {background-image: url('../img/sprites-png/141.png');}
.sprite-142 {background-image: url('../img/sprites-png/142.png');}
.sprite-143 {background-image: url('../img/sprites-png/143.png');}
.sprite-144 {background-image: url('../img/sprites-png/144.png');}
.sprite-145 {background-image: url('../img/sprites-png/145.png');}
.sprite-146 {background-image: url('../img/sprites-png/146.png');}
.sprite-147 {background-image: url('../img/sprites-png/147.png');}
.sprite-148 {background-image: url('../img/sprites-png/148.png');}
.sprite-149 {background-image: url('../img/sprites-png/149.png');}
.sprite-150 {background-image: url('../img/sprites-png/150.png');}
.sprite-151 {background-image: url('../img/sprites-png/151.png');}
.sprite-152 {background-image: url('../img/sprites-png/152.png');}
.sprite-153 {background-image: url('../img/sprites-png/153.png');}
.sprite-154 {background-image: url('../img/sprites-png/154.png');}
.sprite-155 {background-image: url('../img/sprites-png/155.png');}
.sprite-156 {background-image: url('../img/sprites-png/156.png');}
.sprite-157 {background-image: url('../img/sprites-png/157.png');}
.sprite-158 {background-image: url('../img/sprites-png/158.png');}
.sprite-159 {background-image: url('../img/sprites-png/159.png');}
.sprite-160 {background-image: url('../img/sprites-png/160.png');}
.sprite-161 {background-image: url('../img/sprites-png/161.png');}
.sprite-162 {background-image: url('../img/sprites-png/162.png');}
.sprite-163 {background-image: url('../img/sprites-png/163.png');}
.sprite-164 {background-image: url('../img/sprites-png/164.png');}
.sprite-165 {background-image: url('../img/sprites-png/165.png');}
.sprite-166 {background-image: url('../img/sprites-png/166.png');}
.sprite-167 {background-image: url('../img/sprites-png/167.png');}
.sprite-168 {background-image: url('../img/sprites-png/168.png');}
.sprite-169 {background-image: url('../img/sprites-png/169.png');}
.sprite-170 {background-image: url('../img/sprites-png/170.png');}
.sprite-171 {background-image: url('../img/sprites-png/171.png');}
.sprite-172 {background-image: url('../img/sprites-png/172.png');}
.sprite-173 {background-image: url('../img/sprites-png/173.png');}
.sprite-174 {background-image: url('../img/sprites-png/174.png');}
.sprite-175 {background-image: url('../img/sprites-png/175.png');}
.sprite-176 {background-image: url('../img/sprites-png/176.png');}
.sprite-177 {background-image: url('../img/sprites-png/177.png');}
.sprite-178 {background-image: url('../img/sprites-png/178.png');}
.sprite-179 {background-image: url('../img/sprites-png/179.png');}
.sprite-180 {background-image: url('../img/sprites-png/180.png');}
.sprite-181 {background-image: url('../img/sprites-png/181.png');}
.sprite-182 {background-image: url('../img/sprites-png/182.png');}
.sprite-183 {background-image: url('../img/sprites-png/183.png');}
.sprite-184 {background-image: url('../img/sprites-png/184.png');}
.sprite-185 {background-image: url('../img/sprites-png/185.png');}
.sprite-186 {background-image: url('../img/sprites-png/186.png');}
.sprite-187 {background-image: url('../img/sprites-png/187.png');}
.sprite-188 {background-image: url('../img/sprites-png/188.png');}
.sprite-189 {background-image: url('../img/sprites-png/189.png');}
.sprite-190 {background-image: url('../img/sprites-png/190.png');}
.sprite-191 {background-image: url('../img/sprites-png/191.png');}
.sprite-192 {background-image: url('../img/sprites-png/192.png');}
.sprite-193 {background-image: url('../img/sprites-png/193.png');}
.sprite-194 {background-image: url('../img/sprites-png/194.png');}
.sprite-195 {background-image: url('../img/sprites-png/195.png');}
.sprite-196 {background-image: url('../img/sprites-png/196.png');}
.sprite-197 {background-image: url('../img/sprites-png/197.png');}
.sprite-198 {background-image: url('../img/sprites-png/198.png');}
.sprite-199 {background-image: url('../img/sprites-png/199.png');}
.sprite-200 {background-image: url('../img/sprites-png/200.png');}
.sprite-201 {background-image: url('../img/sprites-png/201.png');}
.sprite-202 {background-image: url('../img/sprites-png/202.png');}
.sprite-203 {background-image: url('../img/sprites-png/203.png');}
.sprite-204 {background-image: url('../img/sprites-png/204.png');}
.sprite-205 {background-image: url('../img/sprites-png/205.png');}
.sprite-206 {background-image: url('../img/sprites-png/206.png');}
.sprite-207 {background-image: url('../img/sprites-png/207.png');}
.sprite-208 {background-image: url('../img/sprites-png/208.png');}
.sprite-209 {background-image: url('../img/sprites-png/209.png');}
.sprite-210 {background-image: url('../img/sprites-png/210.png');}
.sprite-211 {background-image: url('../img/sprites-png/211.png');}
.sprite-212 {background-image: url('../img/sprites-png/212.png');}
.sprite-213 {background-image: url('../img/sprites-png/213.png');}
.sprite-214 {background-image: url('../img/sprites-png/214.png');}
.sprite-215 {background-image: url('../img/sprites-png/215.png');}
.sprite-216 {background-image: url('../img/sprites-png/216.png');}
.sprite-217 {background-image: url('../img/sprites-png/217.png');}
.sprite-218 {background-image: url('../img/sprites-png/218.png');}
.sprite-219 {background-image: url('../img/sprites-png/219.png');}
.sprite-220 {background-image: url('../img/sprites-png/220.png');}
.sprite-221 {background-image: url('../img/sprites-png/221.png');}
.sprite-222 {background-image: url('../img/sprites-png/222.png');}
.sprite-223 {background-image: url('../img/sprites-png/223.png');}
.sprite-224 {background-image: url('../img/sprites-png/224.png');}
.sprite-225 {background-image: url('../img/sprites-png/225.png');}
.sprite-226 {background-image: url('../img/sprites-png/226.png');}
.sprite-227 {background-image: url('../img/sprites-png/227.png');}
.sprite-228 {background-image: url('../img/sprites-png/228.png');}
.sprite-229 {background-image: url('../img/sprites-png/229.png');}
.sprite-230 {background-image: url('../img/sprites-png/230.png');}
.sprite-231 {background-image: url('../img/sprites-png/231.png');}
.sprite-232 {background-image: url('../img/sprites-png/232.png');}
.sprite-233 {background-image: url('../img/sprites-png/233.png');}
.sprite-234 {background-image: url('../img/sprites-png/234.png');}
.sprite-235 {background-image: url('../img/sprites-png/235.png');}
.sprite-236 {background-image: url('../img/sprites-png/236.png');}
.sprite-237 {background-image: url('../img/sprites-png/237.png');}
.sprite-238 {background-image: url('../img/sprites-png/238.png');}
.sprite-239 {background-image: url('../img/sprites-png/239.png');}
.sprite-240 {background-image: url('../img/sprites-png/240.png');}
.sprite-241 {background-image: url('../img/sprites-png/241.png');}
.sprite-242 {background-image: url('../img/sprites-png/242.png');}
.sprite-243 {background-image: url('../img/sprites-png/243.png');}
.sprite-244 {background-image: url('../img/sprites-png/244.png');}
.sprite-245 {background-image: url('../img/sprites-png/245.png');}
.sprite-246 {background-image: url('../img/sprites-png/246.png');}
.sprite-247 {background-image: url('../img/sprites-png/247.png');}
.sprite-248 {background-image: url('../img/sprites-png/248.png');}
.sprite-249 {background-image: url('../img/sprites-png/249.png');}
.sprite-250 {background-image: url('../img/sprites-png/250.png');}
.sprite-251 {background-image: url('../img/sprites-png/251.png');}
.sprite-252 {background-image: url('../img/sprites-png/252.png');}
.sprite-253 {background-image: url('../img/sprites-png/253.png');}
.sprite-254 {background-image: url('../img/sprites-png/254.png');}
.sprite-255 {background-image: url('../img/sprites-png/255.png');}
.sprite-256 {background-image: url('../img/sprites-png/256.png');}
.sprite-257 {background-image: url('../img/sprites-png/257.png');}
.sprite-258 {background-image: url('../img/sprites-png/258.png');}
.sprite-259 {background-image: url('../img/sprites-png/259.png');}
.sprite-260 {background-image: url('../img/sprites-png/260.png');}
.sprite-261 {background-image: url('../img/sprites-png/261.png');}
.sprite-262 {background-image: url('../img/sprites-png/262.png');}
.sprite-263 {background-image: url('../img/sprites-png/263.png');}
.sprite-264 {background-image: url('../img/sprites-png/264.png');}
.sprite-265 {background-image: url('../img/sprites-png/265.png');}
.sprite-266 {background-image: url('../img/sprites-png/266.png');}
.sprite-267 {background-image: url('../img/sprites-png/267.png');}
.sprite-268 {background-image: url('../img/sprites-png/268.png');}
.sprite-269 {background-image: url('../img/sprites-png/269.png');}
.sprite-270 {background-image: url('../img/sprites-png/270.png');}
.sprite-271 {background-image: url('../img/sprites-png/271.png');}
.sprite-272 {background-image: url('../img/sprites-png/272.png');}
.sprite-273 {background-image: url('../img/sprites-png/273.png');}
.sprite-274 {background-image: url('../img/sprites-png/274.png');}
.sprite-275 {background-image: url('../img/sprites-png/275.png');}
.sprite-276 {background-image: url('../img/sprites-png/276.png');}
.sprite-277 {background-image: url('../img/sprites-png/277.png');}
.sprite-278 {background-image: url('../img/sprites-png/278.png');}
.sprite-279 {background-image: url('../img/sprites-png/279.png');}
.sprite-280 {background-image: url('../img/sprites-png/280.png');}
.sprite-281 {background-image: url('../img/sprites-png/281.png');}
.sprite-282 {background-image: url('../img/sprites-png/282.png');}
.sprite-283 {background-image: url('../img/sprites-png/283.png');}
.sprite-284 {background-image: url('../img/sprites-png/284.png');}
.sprite-285 {background-image: url('../img/sprites-png/285.png');}
.sprite-286 {background-image: url('../img/sprites-png/286.png');}
.sprite-287 {background-image: url('../img/sprites-png/287.png');}
.sprite-288 {background-image: url('../img/sprites-png/288.png');}
.sprite-289 {background-image: url('../img/sprites-png/289.png');}
.sprite-290 {background-image: url('../img/sprites-png/290.png');}
.sprite-291 {background-image: url('../img/sprites-png/291.png');}
.sprite-292 {background-image: url('../img/sprites-png/292.png');}
.sprite-293 {background-image: url('../img/sprites-png/293.png');}
.sprite-294 {background-image: url('../img/sprites-png/294.png');}
.sprite-295 {background-image: url('../img/sprites-png/295.png');}
.sprite-296 {background-image: url('../img/sprites-png/296.png');}
.sprite-297 {background-image: url('../img/sprites-png/297.png');}
.sprite-298 {background-image: url('../img/sprites-png/298.png');}
.sprite-299 {background-image: url('../img/sprites-png/299.png');}
.sprite-300 {background-image: url('../img/sprites-png/300.png');}
.sprite-301 {background-image: url('../img/sprites-png/301.png');}
.sprite-302 {background-image: url('../img/sprites-png/302.png');}
.sprite-303 {background-image: url('../img/sprites-png/303.png');}
.sprite-304 {background-image: url('../img/sprites-png/304.png');}
.sprite-305 {background-image: url('../img/sprites-png/305.png');}
.sprite-306 {background-image: url('../img/sprites-png/306.png');}
.sprite-307 {background-image: url('../img/sprites-png/307.png');}
.sprite-308 {background-image: url('../img/sprites-png/308.png');}
.sprite-309 {background-image: url('../img/sprites-png/309.png');}
.sprite-310 {background-image: url('../img/sprites-png/310.png');}
.sprite-311 {background-image: url('../img/sprites-png/311.png');}
.sprite-312 {background-image: url('../img/sprites-png/312.png');}
.sprite-313 {background-image: url('../img/sprites-png/313.png');}
.sprite-314 {background-image: url('../img/sprites-png/314.png');}
.sprite-315 {background-image: url('../img/sprites-png/315.png');}
.sprite-316 {background-image: url('../img/sprites-png/316.png');}
.sprite-317 {background-image: url('../img/sprites-png/317.png');}
.sprite-318 {background-image: url('../img/sprites-png/318.png');}
.sprite-319 {background-image: url('../img/sprites-png/319.png');}
.sprite-320 {background-image: url('../img/sprites-png/320.png');}
.sprite-321 {background-image: url('../img/sprites-png/321.png');}
.sprite-322 {background-image: url('../img/sprites-png/322.png');}
.sprite-323 {background-image: url('../img/sprites-png/323.png');}
.sprite-324 {background-image: url('../img/sprites-png/324.png');}
.sprite-325 {background-image: url('../img/sprites-png/325.png');}
.sprite-326 {background-image: url('../img/sprites-png/326.png');}
.sprite-327 {background-image: url('../img/sprites-png/327.png');}
.sprite-328 {background-image: url('../img/sprites-png/328.png');}
.sprite-329 {background-image: url('../img/sprites-png/329.png');}
.sprite-330 {background-image: url('../img/sprites-png/330.png');}
.sprite-331 {background-image: url('../img/sprites-png/331.png');}
.sprite-332 {background-image: url('../img/sprites-png/332.png');}
.sprite-333 {background-image: url('../img/sprites-png/333.png');}
.sprite-334 {background-image: url('../img/sprites-png/334.png');}
.sprite-335 {background-image: url('../img/sprites-png/335.png');}
.sprite-336 {background-image: url('../img/sprites-png/336.png');}
.sprite-337 {background-image: url('../img/sprites-png/337.png');}
.sprite-338 {background-image: url('../img/sprites-png/338.png');}
.sprite-339 {background-image: url('../img/sprites-png/339.png');}
.sprite-340 {background-image: url('../img/sprites-png/340.png');}
.sprite-341 {background-image: url('../img/sprites-png/341.png');}
.sprite-342 {background-image: url('../img/sprites-png/342.png');}
.sprite-343 {background-image: url('../img/sprites-png/343.png');}
.sprite-344 {background-image: url('../img/sprites-png/344.png');}
.sprite-345 {background-image: url('../img/sprites-png/345.png');}
.sprite-346 {background-image: url('../img/sprites-png/346.png');}
.sprite-347 {background-image: url('../img/sprites-png/347.png');}
.sprite-348 {background-image: url('../img/sprites-png/348.png');}
.sprite-349 {background-image: url('../img/sprites-png/349.png');}
.sprite-350 {background-image: url('../img/sprites-png/350.png');}
.sprite-351 {background-image: url('../img/sprites-png/351.png');}
.sprite-352 {background-image: url('../img/sprites-png/352.png');}
.sprite-353 {background-image: url('../img/sprites-png/353.png');}
.sprite-354 {background-image: url('../img/sprites-png/354.png');}
.sprite-355 {background-image: url('../img/sprites-png/355.png');}
.sprite-356 {background-image: url('../img/sprites-png/356.png');}
.sprite-357 {background-image: url('../img/sprites-png/357.png');}
.sprite-358 {background-image: url('../img/sprites-png/358.png');}
.sprite-359 {background-image: url('../img/sprites-png/359.png');}
.sprite-360 {background-image: url('../img/sprites-png/360.png');}
.sprite-361 {background-image: url('../img/sprites-png/361.png');}
.sprite-362 {background-image: url('../img/sprites-png/362.png');}
.sprite-363 {background-image: url('../img/sprites-png/363.png');}
.sprite-364 {background-image: url('../img/sprites-png/364.png');}
.sprite-365 {background-image: url('../img/sprites-png/365.png');}
.sprite-366 {background-image: url('../img/sprites-png/366.png');}
.sprite-367 {background-image: url('../img/sprites-png/367.png');}
.sprite-368 {background-image: url('../img/sprites-png/368.png');}
.sprite-369 {background-image: url('../img/sprites-png/369.png');}
.sprite-370 {background-image: url('../img/sprites-png/370.png');}
.sprite-371 {background-image: url('../img/sprites-png/371.png');}
.sprite-372 {background-image: url('../img/sprites-png/372.png');}
.sprite-373 {background-image: url('../img/sprites-png/373.png');}
.sprite-374 {background-image: url('../img/sprites-png/374.png');}
.sprite-375 {background-image: url('../img/sprites-png/375.png');}
.sprite-376 {background-image: url('../img/sprites-png/376.png');}
.sprite-377 {background-image: url('../img/sprites-png/377.png');}
.sprite-378 {background-image: url('../img/sprites-png/378.png');}
.sprite-379 {background-image: url('../img/sprites-png/379.png');}
.sprite-380 {background-image: url('../img/sprites-png/380.png');}
.sprite-381 {background-image: url('../img/sprites-png/381.png');}
.sprite-382 {background-image: url('../img/sprites-png/382.png');}
.sprite-383 {background-image: url('../img/sprites-png/383.png');}
.sprite-384 {background-image: url('../img/sprites-png/384.png');}
.sprite-385 {background-image: url('../img/sprites-png/385.png');}
.sprite-386 {background-image: url('../img/sprites-png/386.png');}
.sprite-387 {background-image: url('../img/sprites-png/387.png');}
.sprite-388 {background-image: url('../img/sprites-png/388.png');}
.sprite-389 {background-image: url('../img/sprites-png/389.png');}
.sprite-390 {background-image: url('../img/sprites-png/390.png');}
.sprite-391 {background-image: url('../img/sprites-png/391.png');}
.sprite-392 {background-image: url('../img/sprites-png/392.png');}
.sprite-393 {background-image: url('../img/sprites-png/393.png');}
.sprite-394 {background-image: url('../img/sprites-png/394.png');}
.sprite-395 {background-image: url('../img/sprites-png/395.png');}
.sprite-396 {background-image: url('../img/sprites-png/396.png');}
.sprite-397 {background-image: url('../img/sprites-png/397.png');}
.sprite-398 {background-image: url('../img/sprites-png/398.png');}
.sprite-399 {background-image: url('../img/sprites-png/399.png');}
.sprite-400 {background-image: url('../img/sprites-png/400.png');}
.sprite-401 {background-image: url('../img/sprites-png/401.png');}
.sprite-402 {background-image: url('../img/sprites-png/402.png');}
.sprite-403 {background-image: url('../img/sprites-png/403.png');}
.sprite-404 {background-image: url('../img/sprites-png/404.png');}
.sprite-405 {background-image: url('../img/sprites-png/405.png');}
.sprite-406 {background-image: url('../img/sprites-png/406.png');}
.sprite-407 {background-image: url('../img/sprites-png/407.png');}
.sprite-408 {background-image: url('../img/sprites-png/408.png');}
.sprite-409 {background-image: url('../img/sprites-png/409.png');}
.sprite-410 {background-image: url('../img/sprites-png/410.png');}
.sprite-411 {background-image: url('../img/sprites-png/411.png');}
.sprite-412 {background-image: url('../img/sprites-png/412.png');}
.sprite-413 {background-image: url('../img/sprites-png/413.png');}
.sprite-414 {background-image: url('../img/sprites-png/414.png');}
.sprite-415 {background-image: url('../img/sprites-png/415.png');}
.sprite-416 {background-image: url('../img/sprites-png/416.png');}
.sprite-417 {background-image: url('../img/sprites-png/417.png');}
.sprite-418 {background-image: url('../img/sprites-png/418.png');}
.sprite-419 {background-image: url('../img/sprites-png/419.png');}
.sprite-420 {background-image: url('../img/sprites-png/420.png');}
.sprite-421 {background-image: url('../img/sprites-png/421.png');}
.sprite-422 {background-image: url('../img/sprites-png/422.png');}
.sprite-423 {background-image: url('../img/sprites-png/423.png');}
.sprite-424 {background-image: url('../img/sprites-png/424.png');}
.sprite-425 {background-image: url('../img/sprites-png/425.png');}
.sprite-426 {background-image: url('../img/sprites-png/426.png');}
.sprite-427 {background-image: url('../img/sprites-png/427.png');}
.sprite-428 {background-image: url('../img/sprites-png/428.png');}
.sprite-429 {background-image: url('../img/sprites-png/429.png');}
.sprite-430 {background-image: url('../img/sprites-png/430.png');}
.sprite-431 {background-image: url('../img/sprites-png/431.png');}
.sprite-432 {background-image: url('../img/sprites-png/432.png');}
.sprite-433 {background-image: url('../img/sprites-png/433.png');}
.sprite-434 {background-image: url('../img/sprites-png/434.png');}
.sprite-435 {background-image: url('../img/sprites-png/435.png');}
.sprite-436 {background-image: url('../img/sprites-png/436.png');}
.sprite-437 {background-image: url('../img/sprites-png/437.png');}
.sprite-438 {background-image: url('../img/sprites-png/438.png');}
.sprite-439 {background-image: url('../img/sprites-png/439.png');}
.sprite-440 {background-image: url('../img/sprites-png/440.png');}
.sprite-441 {background-image: url('../img/sprites-png/441.png');}
.sprite-442 {background-image: url('../img/sprites-png/442.png');}
.sprite-443 {background-image: url('../img/sprites-png/443.png');}
.sprite-444 {background-image: url('../img/sprites-png/444.png');}
.sprite-445 {background-image: url('../img/sprites-png/445.png');}
.sprite-446 {background-image: url('../img/sprites-png/446.png');}
.sprite-447 {background-image: url('../img/sprites-png/447.png');}
.sprite-448 {background-image: url('../img/sprites-png/448.png');}
.sprite-449 {background-image: url('../img/sprites-png/449.png');}
.sprite-450 {background-image: url('../img/sprites-png/450.png');}
.sprite-451 {background-image: url('../img/sprites-png/451.png');}
.sprite-452 {background-image: url('../img/sprites-png/452.png');}
.sprite-453 {background-image: url('../img/sprites-png/453.png');}
.sprite-454 {background-image: url('../img/sprites-png/454.png');}
.sprite-455 {background-image: url('../img/sprites-png/455.png');}
.sprite-456 {background-image: url('../img/sprites-png/456.png');}
.sprite-457 {background-image: url('../img/sprites-png/457.png');}
.sprite-458 {background-image: url('../img/sprites-png/458.png');}
.sprite-459 {background-image: url('../img/sprites-png/459.png');}
.sprite-460 {background-image: url('../img/sprites-png/460.png');}
.sprite-461 {background-image: url('../img/sprites-png/461.png');}
.sprite-462 {background-image: url('../img/sprites-png/462.png');}
.sprite-463 {background-image: url('../img/sprites-png/463.png');}
.sprite-464 {background-image: url('../img/sprites-png/464.png');}
.sprite-465 {background-image: url('../img/sprites-png/465.png');}
.sprite-466 {background-image: url('../img/sprites-png/466.png');}
.sprite-467 {background-image: url('../img/sprites-png/467.png');}
.sprite-468 {background-image: url('../img/sprites-png/468.png');}
.sprite-469 {background-image: url('../img/sprites-png/469.png');}
.sprite-470 {background-image: url('../img/sprites-png/470.png');}
.sprite-471 {background-image: url('../img/sprites-png/471.png');}
.sprite-472 {background-image: url('../img/sprites-png/472.png');}
.sprite-473 {background-image: url('../img/sprites-png/473.png');}
.sprite-474 {background-image: url('../img/sprites-png/474.png');}
.sprite-475 {background-image: url('../img/sprites-png/475.png');}
.sprite-476 {background-image: url('../img/sprites-png/476.png');}
.sprite-477 {background-image: url('../img/sprites-png/477.png');}
.sprite-478 {background-image: url('../img/sprites-png/478.png');}
.sprite-479 {background-image: url('../img/sprites-png/479.png');}
.sprite-480 {background-image: url('../img/sprites-png/480.png');}
.sprite-481 {background-image: url('../img/sprites-png/481.png');}
.sprite-482 {background-image: url('../img/sprites-png/482.png');}
.sprite-483 {background-image: url('../img/sprites-png/483.png');}
.sprite-484 {background-image: url('../img/sprites-png/484.png');}
.sprite-485 {background-image: url('../img/sprites-png/485.png');}
.sprite-486 {background-image: url('../img/sprites-png/486.png');}
.sprite-487 {background-image: url('../img/sprites-png/487.png');}
.sprite-488 {background-image: url('../img/sprites-png/488.png');}
.sprite-489 {background-image: url('../img/sprites-png/489.png');}
.sprite-490 {background-image: url('../img/sprites-png/490.png');}
.sprite-491 {background-image: url('../img/sprites-png/491.png');}
.sprite-492 {background-image: url('../img/sprites-png/492.png');}
.sprite-493 {background-image: url('../img/sprites-png/493.png');}
.sprite-494 {background-image: url('../img/sprites-png/494.png');}
.sprite-495 {background-image: url('../img/sprites-png/495.png');}
.sprite-496 {background-image: url('../img/sprites-png/496.png');}
.sprite-497 {background-image: url('../img/sprites-png/497.png');}
.sprite-498 {background-image: url('../img/sprites-png/498.png');}
.sprite-499 {background-image: url('../img/sprites-png/499.png');}
.sprite-500 {background-image: url('../img/sprites-png/500.png');}
.sprite-501 {background-image: url('../img/sprites-png/501.png');}
.sprite-502 {background-image: url('../img/sprites-png/502.png');}
.sprite-503 {background-image: url('../img/sprites-png/503.png');}
.sprite-504 {background-image: url('../img/sprites-png/504.png');}
.sprite-505 {background-image: url('../img/sprites-png/505.png');}
.sprite-506 {background-image: url('../img/sprites-png/506.png');}
.sprite-507 {background-image: url('../img/sprites-png/507.png');}
.sprite-508 {background-image: url('../img/sprites-png/508.png');}
.sprite-509 {background-image: url('../img/sprites-png/509.png');}
.sprite-510 {background-image: url('../img/sprites-png/510.png');}
.sprite-511 {background-image: url('../img/sprites-png/511.png');}
.sprite-512 {background-image: url('../img/sprites-png/512.png');}
.sprite-513 {background-image: url('../img/sprites-png/513.png');}
.sprite-514 {background-image: url('../img/sprites-png/514.png');}
.sprite-515 {background-image: url('../img/sprites-png/515.png');}
.sprite-516 {background-image: url('../img/sprites-png/516.png');}
.sprite-517 {background-image: url('../img/sprites-png/517.png');}
.sprite-518 {background-image: url('../img/sprites-png/518.png');}
.sprite-519 {background-image: url('../img/sprites-png/519.png');}
.sprite-520 {background-image: url('../img/sprites-png/520.png');}
.sprite-521 {background-image: url('../img/sprites-png/521.png');}
.sprite-522 {background-image: url('../img/sprites-png/522.png');}
.sprite-523 {background-image: url('../img/sprites-png/523.png');}
.sprite-524 {background-image: url('../img/sprites-png/524.png');}
.sprite-525 {background-image: url('../img/sprites-png/525.png');}
.sprite-526 {background-image: url('../img/sprites-png/526.png');}
.sprite-527 {background-image: url('../img/sprites-png/527.png');}
.sprite-528 {background-image: url('../img/sprites-png/528.png');}
.sprite-529 {background-image: url('../img/sprites-png/529.png');}
.sprite-530 {background-image: url('../img/sprites-png/530.png');}
.sprite-531 {background-image: url('../img/sprites-png/531.png');}
.sprite-532 {background-image: url('../img/sprites-png/532.png');}
.sprite-533 {background-image: url('../img/sprites-png/533.png');}
.sprite-534 {background-image: url('../img/sprites-png/534.png');}
.sprite-535 {background-image: url('../img/sprites-png/535.png');}
.sprite-536 {background-image: url('../img/sprites-png/536.png');}
.sprite-537 {background-image: url('../img/sprites-png/537.png');}
.sprite-538 {background-image: url('../img/sprites-png/538.png');}
.sprite-539 {background-image: url('../img/sprites-png/539.png');}
.sprite-540 {background-image: url('../img/sprites-png/540.png');}
.sprite-541 {background-image: url('../img/sprites-png/541.png');}
.sprite-542 {background-image: url('../img/sprites-png/542.png');}
.sprite-543 {background-image: url('../img/sprites-png/543.png');}
.sprite-544 {background-image: url('../img/sprites-png/544.png');}
.sprite-545 {background-image: url('../img/sprites-png/545.png');}
.sprite-546 {background-image: url('../img/sprites-png/546.png');}
.sprite-547 {background-image: url('../img/sprites-png/547.png');}
.sprite-548 {background-image: url('../img/sprites-png/548.png');}
.sprite-549 {background-image: url('../img/sprites-png/549.png');}
.sprite-550 {background-image: url('../img/sprites-png/550.png');}
.sprite-551 {background-image: url('../img/sprites-png/551.png');}
.sprite-552 {background-image: url('../img/sprites-png/552.png');}
.sprite-553 {background-image: url('../img/sprites-png/553.png');}
.sprite-554 {background-image: url('../img/sprites-png/554.png');}
.sprite-555 {background-image: url('../img/sprites-png/555.png');}
.sprite-556 {background-image: url('../img/sprites-png/556.png');}
.sprite-557 {background-image: url('../img/sprites-png/557.png');}
.sprite-558 {background-image: url('../img/sprites-png/558.png');}
.sprite-559 {background-image: url('../img/sprites-png/559.png');}
.sprite-560 {background-image: url('../img/sprites-png/560.png');}
.sprite-561 {background-image: url('../img/sprites-png/561.png');}
.sprite-562 {background-image: url('../img/sprites-png/562.png');}
.sprite-563 {background-image: url('../img/sprites-png/563.png');}
.sprite-564 {background-image: url('../img/sprites-png/564.png');}
.sprite-565 {background-image: url('../img/sprites-png/565.png');}
.sprite-566 {background-image: url('../img/sprites-png/566.png');}
.sprite-567 {background-image: url('../img/sprites-png/567.png');}
.sprite-568 {background-image: url('../img/sprites-png/568.png');}
.sprite-569 {background-image: url('../img/sprites-png/569.png');}
.sprite-570 {background-image: url('../img/sprites-png/570.png');}
.sprite-571 {background-image: url('../img/sprites-png/571.png');}
.sprite-572 {background-image: url('../img/sprites-png/572.png');}
.sprite-573 {background-image: url('../img/sprites-png/573.png');}
.sprite-574 {background-image: url('../img/sprites-png/574.png');}
.sprite-575 {background-image: url('../img/sprites-png/575.png');}
.sprite-576 {background-image: url('../img/sprites-png/576.png');}
.sprite-577 {background-image: url('../img/sprites-png/577.png');}
.sprite-578 {background-image: url('../img/sprites-png/578.png');}
.sprite-579 {background-image: url('../img/sprites-png/579.png');}
.sprite-580 {background-image: url('../img/sprites-png/580.png');}
.sprite-581 {background-image: url('../img/sprites-png/581.png');}
.sprite-582 {background-image: url('../img/sprites-png/582.png');}
.sprite-583 {background-image: url('../img/sprites-png/583.png');}
.sprite-584 {background-image: url('../img/sprites-png/584.png');}
.sprite-585 {background-image: url('../img/sprites-png/585.png');}
.sprite-586 {background-image: url('../img/sprites-png/586.png');}
.sprite-587 {background-image: url('../img/sprites-png/587.png');}
.sprite-588 {background-image: url('../img/sprites-png/588.png');}
.sprite-589 {background-image: url('../img/sprites-png/589.png');}
.sprite-590 {background-image: url('../img/sprites-png/590.png');}
.sprite-591 {background-image: url('../img/sprites-png/591.png');}
.sprite-592 {background-image: url('../img/sprites-png/592.png');}
.sprite-593 {background-image: url('../img/sprites-png/593.png');}
.sprite-594 {background-image: url('../img/sprites-png/594.png');}
.sprite-595 {background-image: url('../img/sprites-png/595.png');}
.sprite-596 {background-image: url('../img/sprites-png/596.png');}
.sprite-597 {background-image: url('../img/sprites-png/597.png');}
.sprite-598 {background-image: url('../img/sprites-png/598.png');}
.sprite-599 {background-image: url('../img/sprites-png/599.png');}
.sprite-600 {background-image: url('../img/sprites-png/600.png');}
.sprite-601 {background-image: url('../img/sprites-png/601.png');}
.sprite-602 {background-image: url('../img/sprites-png/602.png');}
.sprite-603 {background-image: url('../img/sprites-png/603.png');}
.sprite-604 {background-image: url('../img/sprites-png/604.png');}
.sprite-605 {background-image: url('../img/sprites-png/605.png');}
.sprite-606 {background-image: url('../img/sprites-png/606.png');}
.sprite-607 {background-image: url('../img/sprites-png/607.png');}
.sprite-608 {background-image: url('../img/sprites-png/608.png');}
.sprite-609 {background-image: url('../img/sprites-png/609.png');}
.sprite-610 {background-image: url('../img/sprites-png/610.png');}
.sprite-611 {background-image: url('../img/sprites-png/611.png');}
.sprite-612 {background-image: url('../img/sprites-png/612.png');}
.sprite-613 {background-image: url('../img/sprites-png/613.png');}
.sprite-614 {background-image: url('../img/sprites-png/614.png');}
.sprite-615 {background-image: url('../img/sprites-png/615.png');}
.sprite-616 {background-image: url('../img/sprites-png/616.png');}
.sprite-617 {background-image: url('../img/sprites-png/617.png');}
.sprite-618 {background-image: url('../img/sprites-png/618.png');}
.sprite-619 {background-image: url('../img/sprites-png/619.png');}
.sprite-620 {background-image: url('../img/sprites-png/620.png');}
.sprite-621 {background-image: url('../img/sprites-png/621.png');}
.sprite-622 {background-image: url('../img/sprites-png/622.png');}
.sprite-623 {background-image: url('../img/sprites-png/623.png');}
.sprite-624 {background-image: url('../img/sprites-png/624.png');}
.sprite-625 {background-image: url('../img/sprites-png/625.png');}
.sprite-626 {background-image: url('../img/sprites-png/626.png');}
.sprite-627 {background-image: url('../img/sprites-png/627.png');}
.sprite-628 {background-image: url('../img/sprites-png/628.png');}
.sprite-629 {background-image: url('../img/sprites-png/629.png');}
.sprite-630 {background-image: url('../img/sprites-png/630.png');}
.sprite-631 {background-image: url('../img/sprites-png/631.png');}
.sprite-632 {background-image: url('../img/sprites-png/632.png');}
.sprite-633 {background-image: url('../img/sprites-png/633.png');}
.sprite-634 {background-image: url('../img/sprites-png/634.png');}
.sprite-635 {background-image: url('../img/sprites-png/635.png');}
.sprite-636 {background-image: url('../img/sprites-png/636.png');}
.sprite-637 {background-image: url('../img/sprites-png/637.png');}
.sprite-638 {background-image: url('../img/sprites-png/638.png');}
.sprite-639 {background-image: url('../img/sprites-png/639.png');}
.sprite-640 {background-image: url('../img/sprites-png/640.png');}
.sprite-641 {background-image: url('../img/sprites-png/641.png');}
.sprite-642 {background-image: url('../img/sprites-png/642.png');}
.sprite-643 {background-image: url('../img/sprites-png/643.png');}
.sprite-644 {background-image: url('../img/sprites-png/644.png');}
.sprite-645 {background-image: url('../img/sprites-png/645.png');}
.sprite-646 {background-image: url('../img/sprites-png/646.png');}
.sprite-647 {background-image: url('../img/sprites-png/647.png');}
.sprite-648 {background-image: url('../img/sprites-png/648.png');}
.sprite-649 {background-image: url('../img/sprites-png/649.png');}