/**
 * Body CSS
 */

html,
body {
  height: 100%;
  background-color: #eee;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: transform 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: 0;
  transform: translate(-200px, 0);
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  transform: translate(0, 0);
  transition: transform 0.2s;

  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer {
  height: 160px;
  font-size: 13px;
  transform: translate(0, 0);
  transition: transform 0.2s;
}

@media (min-width: 768px) {
  #header {
    transform: translate(200px, 0);
    transition: transform 0.2s;
  }

  #sidedrawer {
    transform: translate(0, 0);
    transition: transform 0.2s;
  }

  #content-wrapper {
    margin-left: 200px;
    transition: margin-left 0.2s;
  }

  #footer {
    margin-left: 200px;
    transition: margin-left 0.2s;
  }

  body.hide-sidedrawer #header {
    transform: translate(0, 0);
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(-200px, 0);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Sidedrawer
 */

#sidedrawer.active {
  transform: translate(0, 0);
  transition: transform 0.2s;
}


/**
 * Header CSS
 */

.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Sidedrawer CSS
 */

#sidedrawer-brand {
  padding-left: 20px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0;
}


/**
 * Footer CSS
 */

#footer {
  background-color: #a040a0;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}

/* custom theming for pokedex app */

#sidedrawer a {
  color: rgba(0,0,0,.87);
  text-decoration: none;
}

#sidedrawer a:hover {
  color: rgba(0,0,0,.87);
  text-decoration: none;
}

@media (max-width: 767px) {
  #main-title {
    display: none;
  }
  .mui-textfield {
    padding-top: 0;
    margin-bottom: 10px;
  }
}

.mui-appbar {
  background-color: #a040a0;
}

/* Search box */

.mui-textfield>input:focus, .mui-textfield>textarea:focus {
  border-color: #a040a0;
  background-image: url(../svg/search-active.svg);
}
.mui-textfield>input {
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

#progress-mask {
  z-index: 10000;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  transition: opacity 0.1s;
  opacity: 0;
}

#progress-mask.shown {
  opacity: 0.3;
}

/* monster list */

#monsters-list-wrapper {
  position: relative;
  text-align: center;
}

#monsters-list {
  padding: 0;
}

#monsters-list > li {
  margin: 10px;
  position: relative;
  width: 140px;
  height: 140px;
  overflow: hidden;
  display: inline-flex;
  list-style-type: none;
  cursor: pointer;
  touch-action: manipulation;
  z-index: 20000;
}

@media (max-width: 767px) {
  #monsters-list li {
    margin: 5px;
  }
}

#monsters-list .monster-sprite {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
}

.monster-sprite.mui-btn--accent.mui-btn--flat {
  margin-top: 0;

  /* mui sets transition: all 0.2s ease-in-out, avoid that so
     we don't get unnecessary janky animations */
  transition: initial;
  /*transition-property: background-color,box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;*/
}

.monster-sprite.mui-btn--accent.mui-btn--flat:active,
    .monster-sprite.mui-btn--accent.mui-btn--flat:focus {
  /*background-color: rgba(255, 255, 255, .6);*/
  background-color: initial;
}

.monster-sprite.mui-btn--accent.mui-btn--flat:hover {
  background-color: rgba(255, 255, 255, .3);
}

.mui-btn--flat>.mui-ripple-effect {
  background-color: rgb(255, 255, 255);
}

.monster-sprite {
  background-repeat: no-repeat;
  background-position: center center;
  width: 140px;
  height: 140px;
}

#monsters-list li span {
  color: white;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  position: absolute;
  text-align: center;
}

#detail-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  color: #333;
}

.detail-view-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}

.detail-view-fg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  padding: 10px;
}

.back-button {
  background: url(../svg/ic_arrow_back_36px.svg);
  width: 36px;
  height: 36px;
  border: none;
  margin-bottom: 12px;
}

.back-button:focus {
  outline: 0;
}

.mui-panel.detail-panel {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

.detail-panel-header {
  max-width: 600px;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 24px;
}

.detail-panel-content {
  padding: 15px;
}

.detail-sprite {
  width: 140px;
  height: 140px;
  min-width: 140px;
}

.detail-header {
  display: flex;
}

.detail-below-header {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .detail-below-header {
    margin-top: 10px;
  }
}

.detail-national-id {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: right;
  font-size: 30px;
}

@media (max-width: 767px) {
  .detail-national-id {
    font-size: 18px;
  }
}

.detail-infobox {
  flex-grow: 1;
  margin-right: 10px;
}

.detail-stats {
  min-width: 200px;
  max-width: 300px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .detail-stats {
    min-width: 150px;
    max-width: 200px;
  }
}

.detail-stats-row {
  display: flex;
  margin-top: 2px;
  margin-left: 2px;
}

.detail-stats-row span:nth-child(even) {
  flex-basis: 0;
  flex-grow: 2;
  color: white;
}

@media (max-width: 767px) {
  .detail-stats-row span:nth-child(even) {
    flex-grow: 1;
  }
}

.detail-stats-row span:nth-child(odd) {
  flex-basis: 0;
  flex-grow: 1;
}

.stat-bar {
  position: relative;
}

.stat-bar-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  transform-origin: left;
}

.stat-bar-fg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200000;
  margin-left: 2px;
}

.detail-types-and-num {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-sprite.animating {
  transition: transform 0.33333s cubic-bezier(0,0,0.21,1);
}

.detail-view-fg.animating {
  transition: transform 0.33333s cubic-bezier(0,0,0.21,1);
}

.detail-view-bg {
  transform-origin: 0 0;
}

.detail-view-bg.animating {
  transition-property: transform;
  transition-duration: 0.33333s;
  transition-timing-function: cubic-bezier(0,0,0.21,1);
}

.monster-type {
  color: white;
  padding: 1px 4px 4px;
  border-radius: 2px;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: 600;
  margin-right: 5px;
}

.monster-description {
  font-size: 14px;
}

/* miscellaneous */

.hidden {
  display: none;
}

.hover-shadow {
  border-radius: 50%;
  padding: 4px 5px;
}

/* hamburger needs more padding */
.sidedrawer-toggle.hover-shadow {
  padding: 4px 7px 5px 8px;
}

.hover-shadow:active, .hover-shadow:focus, .hover-shadow:hover {
  background-color: rgba(0,0,0,.27);
}